[submodule "app/src/main/cpp/vendor/KittyMemory"]
	path = app/src/main/cpp/vendor/KittyMemory
	url = https://github.com/MJx0/KittyMemory.git
[submodule "app/src/main/cpp/vendor/Dobby"]
	path = app/src/main/cpp/vendor/Dobby
	url = https://github.com/chiteroman/Dobby.git
[submodule "app/src/main/cpp/vendor/imgui"]
	path = app/src/main/cpp/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "app/src/main/cpp/vendor/enet"]
	path = app/src/main/cpp/vendor/enet
	url = https://github.com/lsalzman/enet.git
