[submodule "app/src/main/cpp/vendor/KittyMemory"]
	path = app/src/main/cpp/vendor/KittyMemory
	url = https://github.com/MJx0/KittyMemory.git
[submodule "app/src/main/cpp/vendor/Dobby"]
	path = app/src/main/cpp/vendor/Dobby
	url = https://github.com/chiteroman/Dobby.git
[submodule "app/src/main/cpp/vendor/imgui"]
	path = app/src/main/cpp/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "app/src/main/cpp/vendor/enet"]
	path = app/src/main/cpp/vendor/enet
	url = https://github.com/lsalzman/enet.git
[submodule "app/src/main/cpp/vendor/gtworld-cpp"]
	path = app/src/main/cpp/vendor/gtworld-cpp
	url = https://github.com/CLOEI/gtworld-cpp.git
[submodule "app/src/main/cpp/vendor/magic_enum"]
	path = app/src/main/cpp/vendor/magic_enum
	url = https://github.com/Neargye/magic_enum.git
